

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.btn-container {
  position: absolute;
  right: 5%;
  bottom: 5%;
}


.pop-main-container{

  position: relative;
  width: 100%;
  height: 100%;
}

.text-container{
  border-style: ridge;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform:translate(-50%, -50%);
  padding: 1em;

}
