

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.pop-main-container{
  position: relative;
  width: 100%;
  height: 100%;
}

.text-container{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform:translate(-50%, -50%);
  text-align: center;
}
