body {

}


.contents-container {
  text-align: center;
}

.android-contents {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.android-app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}


.ic-img {
  width: 350px;
  height: 300px;
}

.no-class {
  font-size: 25px;
}

a {
  font-size: 25px;
  flex-wrap: nowrap;
}
