body {

}


.contents-container {
  text-align: center;
}

.android-contents {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-shrink: 0;
}

.android-app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 1em;
  margin-right: 0px;
}


.ic-img {
  width: 100%;
  height: auto;
}

.no-class {
  font-size: 1em;
}

a {
  font-size: 1em;
  flex-wrap: nowrap;
}

.text-img {
  width: 100%;
  height: auto;
}
