body {

}


.contents-container {
  text-align: center;
}

.android-contents {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.android-app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 0px;
}


.ic-img {
  width: 19.375em;
  height: 16.25em;
}

.no-class {
  font-size: 25px;
}

a {
  font-size: 30px;
  flex-wrap: nowrap;
}

.text-img {
  width: 100%;
  height: auto;
}
