.contents-container {
  text-align: center;
  margin-bottom: 3em
}

.android-contents {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-shrink: 0;
}

.android-app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 2em;
  margin-right: 2em;
}


.ic-img {
  width: 100%;
  height: auto;
}

.no-class {
  font-size: 1em;
}

a {
  font-size: 1em;
  flex-wrap: nowrap;
}

.text-img {
  width: 100%;
  height: auto;
}

.mynavbar {
  background-color: #f2b701;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3em;
  display: table;
  -webkit-backface-visibility: hidden;
}

.progress-container{
  width: 100%;
  height: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.max-pointree-label {
  font-size: 0.8em;
  font-weight: bold;
  margin: 0.5em;
}

.progress-value {
    display: flex;
    text-align: center;
}
